@{
    var infoUser = ViewData["persona"] as PersonaMostrar;
}


<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section id="perfilEmpresa" class="section profile">
    <div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Perfil</h2></div>
    <div class="container">
        <div class="row ">
            <div class="col-xl-4">

                <div class="card edit-card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="data:@infoUser.TipoImagen;base64,@infoUser.Imagen" alt="" class="rounded-circle">
                        <h2>@infoUser.NombrePersona @infoUser.ApellidoPersona</h2>
                        <h3>@infoUser.FechaNacimientoString</h3>
                        <div class="social-links mt-2">
                            @if (!string.IsNullOrEmpty(infoUser.Twitter))
                            {
                            <a target="_blank" href="@infoUser.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                            }

                            @if (!string.IsNullOrEmpty(infoUser.Instagram))
                            {
                            <a target="_blank" href="@infoUser.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                            }

                            @if (!string.IsNullOrEmpty(infoUser.Linkedin))
                            {
                            <a target="_blank" href="@infoUser.Linkedin" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            }

                           @* <a href="#" class="edit-icon" data-toggle="modal" data-target="#editSocialModal"><i class="bi bi-pencil"></i></a>*@
                           @* futuro modal para editar redes *@

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="mt-3 card-title">Detalles del perfil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                                    <div class="col-lg-9 col-md-8">@infoUser.NombrePersona @infoUser.ApellidoPersona</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Teléfono</div>
                                    <div class="col-lg-9 col-md-8">@infoUser.Telefono1</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Documento</div>
                                    <div class="col-lg-9 col-md-8">@infoUser.NumeroDocumento</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Localidad</div>
                                    <div class="col-lg-9 col-md-8">@infoUser.LocalidadNombre</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Domicilio</div>
                                    <div class="col-lg-9 col-md-8">@infoUser.DomicilioPersona</div>
                                </div>

                                @if (ViewBag.VistaLectura == 2)
                                {
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Correo Electrónico</div>
                                        <div class="col-lg-9 col-md-8">
                                            <a class="texty" title="Enviar Mensaje" href="mailto:@infoUser.Correo">@infoUser.Correo</a>
                                        </div>
                                    </div>
                                }

                                @if (ViewBag.VistaLectura != 2)
                                {
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Correo Electrónico</div>
                                        <div class="col-lg-9 col-md-8">
                                            <div class="col-lg-9 col-md-8">@infoUser.Correo</div>                                            
                                        </div>
                                    </div>
                                    <p>
                                        <button class="btn btn-secondary" onclick="BuscarPersona(@infoUser.PersonaID)">Editar Perfil</button>
                                    </p>
                                }
                                

                                <div class="modal" tabindex="-1" id="exampleModal" role="dialog" aria-labeledby="exampleModalLabel">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="Titulo-Modal-Persona"></h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body mb-12">
                                                <form id="frmFormulario">
                                                    <input type="hidden" name="IdPersona" id="PersonaID" value="0" />
                                                    <div class="alert alert-danger" id="alertPersona"></div>

                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Nombre</label>
                                                        <input type="text" name="nombrePersona" id="PersonaNombre" class="form-control" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Apellido</label>
                                                        <input type="text" name="apellidoPersona" id="ApellidoNombre" class="form-control" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Telefono</label>
                                                        <input type="tel" name="telefono1Persona" id="Telefono1" class="form-control" maxlength="15" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Documento</label>
                                                        <input type="tel" name="NumeroDocumento" id="dni" class="form-control" maxlength="15" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Pais:</label>
                                                        <div class="form-group">
                                                            @Html.DropDownList("PaisID", null, htmlAttributes:new{@class = "form-select mb-3", @id = "paisID"})
                                                        </div>

                                                        <label>Provincia</label>
                                                        <div class="form-group">
                                                            @Html.DropDownList("ProvinciaID", null, htmlAttributes:new{@class = "form-select mb-3", @id = "provinciaID"})
                                                        </div>

                                                        <label>Localidad</label>
                                                        <div class="form-group">
                                                            @Html.DropDownList("LocalidadID", null, htmlAttributes:new{@class = "form-select", @id = "localidadID"})
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="form-label">Domicilio</label>
                                                            <input type="text" name="domicilio" id="DomicilioPersona" class="form-control" />

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="form-label">Correo</label>
                                                            <input type="text" name="correoPersona" id="CorreoPersona" class="form-control" />
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-custom" onclick="VaciarFormulario()" data-bs-dismiss="modal" aria-label="back">Atrás</button>
                                                <button type="submit" class="btn btn-primary btn-custom" onclick="editarPersona()">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script src='~/js/Personas.js'></script>
    <script>
        window.onload = CompletarTablaPersonas();
    </script>
}
