@{
    var infoEmpresa = ViewData["empresa"] as EmpresaMostrar;
    ViewData["Title"] = "Perfil";
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        @*<h2>Perfil</h2>*@
       @* <ol>
            <li><a asp-area="" asp-controller="home" asp-action="index">Inicio</a></li>
            <li>Perfil</li>
        </ol>*@

    </div>
</div><!-- Fin primera parte -->
<section id="perfilEmpresa" class="section profile">
        <div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Perfil</h2></div>
    <div class="container">
        <div class="row ">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="data:@infoEmpresa.TipoImagen;base64,@infoEmpresa.Imagen" alt="" class="rounded-circle">
                        <h2>@infoEmpresa.RazonSocial</h2>
                        <h3>@infoEmpresa.CUIT</h3>
                        <div class="social-links mt-2">
                            @if (!string.IsNullOrEmpty(infoEmpresa.Twitter))
                            {
                                <a target="_blank" href="@infoEmpresa.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                            }

                            @if (!string.IsNullOrEmpty(infoEmpresa.Instagram))
                            {
                                <a target="_blank" href="@infoEmpresa.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>                               
                            }

                            @if (!string.IsNullOrEmpty(infoEmpresa.Linkedin))
                            {
                                <a target="_blank" href="@infoEmpresa.Linkedin" class="linkedin"><i class="bi bi-linkedin"></i></a>    
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">General</button>
                            </li>
                            @*
                            <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar perfil</button>
                            </li>*@

                            @*  <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuración</button>
                            </li>

                            <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar contraseña</button>
                            </li>*@

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title mt-3">Sobre nosotros</h5>
                                <p class="small fst-italic">@infoEmpresa.Descripcion</p>

                                <h5 class="card-title">Detalles del perfil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Razon Social</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.RazonSocial</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Rubro</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Rubro</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Localidad</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Localidad</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Domicilio</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Domicilio</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Telefono</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Telefono1</div>
                                </div>

                              @*  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Correo electronico</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Correo</div>
                                </div>*@

                                @*Modificar los edits de los perfiles para que sean funcionales*@
                                <p>
                                    <button class="btn btn-secondary" onclick="BuscarEmpresa(@infoEmpresa.EmpresaID)">Editar Empresa</button>
                                </p>
                                <div class="modal" tabindex="-1" id="modalCrearEmpresa" role="dialog" aria-labeledby="exampleModalLabel">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="Titulo-Modal-Empresa"></h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body mb-12">
                                                <form id="frmFormulario">
                                                    <input type="hidden" name="IdEmpresa" id="EmpresaID" value="0" />
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Nombre</label>
                                                        <input type="text" name="razonSocial" id="RazonSocial" class="form-control mb-3" required />
@*                                                        <p id="Error-RubroNombre"></p>
*@                                                    </div>

                                                    @*<label for="recipient-name" class="form-label">Rubro</label>
                                                      <div class="form-group">
                                                    @Html.DropDownList("RubroID", null, htmlAttributes:new{@class = "form-select mb-3"})
                                                    </div>*@


                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">CUIT</label>
                                                        <input type="text" name="cuitEmpresa" id="Cuit" class="form-control mb-3" required />
                                                    </div>


                                                    
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Telefono</label>
                                                        <input type="tel" name="telefono1Empresa" id="Telefono1" class="form-control mb-3" maxlength="15" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Pais</label>
                                                        <div class="form-group">
                                                            @Html.DropDownList("PaisID", null, htmlAttributes:new{@class = "form-select mb-3", @id = "paisID"})
                                                        </div>

                                                        <label for="recipient-name" class="form-label">Provincia</label>
                                                        <div class="form-group">
                                                            @Html.DropDownList("ProvinciaID", null, htmlAttributes:new{@class = "form-select", @id = "provinciaID"})
                                                        </div>

                                                        <label for="recipient-name" class="form-label">Localidad</label>
                                                        <div class="form-group">
                                                            @Html.DropDownList("LocalidadID", null, htmlAttributes:new{@class = "form-select", @id = "localidadID"})
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="form-label">Domicilio</label>
                                                            <input type="text" name="domicilio" id="DomicilioEmpresa" class="form-control" />

                                                        </div>
                                                        @*<div class="form-group">
                                                            <label for="recipient-name" class="form-label">Correo</label>
                                                            <input type="text" name="correoEmpresa" id="CorreoEmpresa" class="form-control" />
                                                        </div>*@
                                                    </div>

                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" onclick="VaciarFormulario()" data-bs-dismiss="modal" aria-label="back">Atrás</button>
                                                <button type="submit" class="btn btn-primary" onclick="guardarEmpresa()">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Editar finalizado, resta probar*@
                            </div>
                            @*  <div class="tab-pane fade show profile-edit" id="profile-edit"> <h3 class="text-center mt-3">Esta funcion esta en desarrollo</h3> </div>
                            <div class="tab-pane fade show profile-setting" id="profile-setting"> <h3>Esta funcion esta en desarrollo</h3> </div>*@
                            @*  <div class="tab-pane fade show profile-edit" id="profile-edit"> <h1>Esta funcion esta en desarrollo</h1> </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src='~/js/Empresas.js'></script>
    <script>
        window.onload = CompletarTablaEmpresas();
    </script>
}