@{
    var infoEmpresa = ViewData["empresa"] as EmpresaMostrar;
    ViewData["Title"] = "Perfil";
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Perfil</h2>
        <ol>
            <li><a asp-area="" asp-controller="home" asp-action="index">Inicio</a></li>
            <li>Perfil</li>
        </ol>

    </div>
</div><!-- Fin primera parte -->
<section id="perfilEmpresa" class="section profile">
    <div class="container">
        <div class="row ">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="data:@infoEmpresa.TipoImagen;base64,@infoEmpresa.Imagen" alt="" class="rounded-circle">
                        <h2>@infoEmpresa.RazonSocial</h2>
                        <h3>@infoEmpresa.CUIT</h3>
                        <div class="social-links mt-2">
                            <a target="_blank" href="@infoEmpresa.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="@infoEmpresa.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href="@infoEmpresa.Linkedin" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">General</button>
                            </li>
@*
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar perfil</button>
                            </li>*@

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuración</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar contraseña</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title mt-3">Sobre nosotros</h5>
                                <p class="small fst-italic">@infoEmpresa.Descripcion</p>

                                <h5 class="card-title">Detalles del perfil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Razon Social</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.RazonSocial</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Rubro</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Rubro</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Localidad</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Localidad</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Domicilio</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Domicilio</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Telefono</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Telefono1</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Correo electronico</div>
                                    <div class="col-lg-9 col-md-8">@infoEmpresa.Correo</div>
                                </div>

                                @*Modificar los edits de los perfiles para que sean funcionales*@
                                <p>
                                    <button class="btn btn-secondary" onclick="AbrirModal()">Editar</button>
                                </p>


                            </div>
                            
                           

                            <div class="tab-pane fade show profile-edit" id="profile-edit"> <h3 class="text-center mt-3">Esta funcion esta en desarrollo</h3> </div>
                            <div class="tab-pane fade show profile-setting" id="profile-setting"> <h3>Esta funcion esta en desarrollo</h3> </div>
@*                            <div class="tab-pane fade show profile-edit" id="profile-edit"> <h1>Esta funcion esta en desarrollo</h1> </div>
*@                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

