@{
    ViewData["Title"] = "Gestion de vacante";
    var vacanteMostrar = ViewData["vacante"] as VacanteMostrar;
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Gestion de vacante</h2>
        <ol>
            <li><a asp-area="" asp-controller="home" asp-action="index">Inicio</a></li>
            <li><a asp-area="" asp-controller="vacantes" asp-action="index">Vacantes</a></li>
            <li>Detalle de Vacante</li>
        </ol>

    </div>
</div><!-- Fin primera parte -->

<section class="blog" id="blog">
    <div class="container" data-aos="fade-up" data-aos-dalay="100">
        <article class="blog-details">

            <div class="post-img">
                <img src="data:@vacanteMostrar.TipoImagen;base64,@vacanteMostrar.ImagenVacante" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="text-transform:uppercase">@vacanteMostrar.Nombre</h2>

            <div class="meta-top">
                <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a style="cursor:pointer">@vacanteMostrar.EmpresaNombre</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a style="cursor:pointer"><time datetime="@vacanteMostrar.FechaCreacion">@vacanteMostrar.FechaCreacion</time></a></li>
                </ul>
            </div><!-- End meta top -->

            <div class="content">

                <p>
                    @vacanteMostrar.Descripcion
                </p>
                <p>Para esta vacante tendras que saber hablar muy bien en @vacanteMostrar.Idiomas</p>

                <h3>Se requieren @vacanteMostrar.ExperienciaRequerida años de experiencia</h3>
                <h3>Las postulaciones finalizan el <span>@vacanteMostrar.FechaDeFinalizacion</span></h3>


            </div><!-- End post content -->

            <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                    <li><a style="cursor:pointer">@vacanteMostrar.RubroNombre</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                    <li><a style="text-transform:uppercase; cursor:pointer">@vacanteMostrar.DisponibilidadHoraria</a></li>
                    <li><a style="text-transform:uppercase; cursor:pointer">@vacanteMostrar.tipoModalidad</a></li>
                </ul>
            </div><!-- End meta bottom -->

        </article><!-- End blog post -->
        <h4 class="comments-count mt-5">Postulantes: </h4>
        @foreach (var persona in ViewBag.PersonasMostrar)
        {
            <div class="post-author d-flex align-items-center">
                <img src="data:@persona.TipoImagen;base64,@persona.Imagen"
                 class="rounded-circle flex-shrink-0"
                 alt="" />
                <div>
                    <h4 class="text-center"><a href="#" onclick="verPerfilPersona(@persona.PersonaID)">@persona.NombrePersona @persona.ApellidoPersona</a></h4>
                    <div class="social-links">
                        <a target="_blank" href="@persona.Twitter">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a target="_blank" href="@persona.Linkedin">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="@persona.Instagram">
                            <i class="biu bi-instagram"></i>
                        </a>
                    </div>
                    <p>
                        
                    </p>
                </div>
            </div>
        }
    </div>
</section>




@section Scripts{
<script src="~/js/Vacantes.js"></script>
}