@{
    ViewData["Title"] = "Gestion de vacante";
    var vacanteMostrar = ViewData["vacante"] as VacanteMostrar;
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section class="blog" id="blog">
    <div class="container position-relative d-flex flex-column align-items-center mt-1 mb-4"><h2>Gesti&oacuten de la Vacante</h2></div>
    <a asp-area="" asp-controller="vacantes" asp-action="index"><i class="bi bi-arrow-left-circle" style="font-size:xx-large; padding: 10px;" title="VOLVER ATR&Aacute;S"></i></a>
    <div class="container" data-aos="fade-up" data-aos-dalay="100">
        
        <h2 class="title" style="text-transform:uppercase">@vacanteMostrar.Nombre</h2>
        <article class="blog-details"> 
                        
            <div class="post-img">
                <img src="data:@vacanteMostrar.TipoImagen;base64,@vacanteMostrar.ImagenVacante" alt="" class="img-fluid w-50 mx-auto">
            </div>
            <div class="meta-top">
                <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person tags-gestion"></i>@vacanteMostrar.EmpresaNombre</li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="@vacanteMostrar.FechaCreacion">@vacanteMostrar.FechaCreacion.ToString("dd/MM/yyyy")</time></a></li>
                </ul>
            </div>
            <!-- End meta top -->

            <div class="content">

                <p>
                    @vacanteMostrar.Descripcion
                </p>
                @if (!string.IsNullOrEmpty(vacanteMostrar.Idiomas))
                {
                    <p>Para &eacutesta vacante tendr&aacutes que saber hablar muy bien en @vacanteMostrar.Idiomas</p>
                }
                else
                {
                    <i>No se requiere un idioma en especifico</i>
                }

                <h3>Se requieren @vacanteMostrar.ExperienciaRequerida a&ntildeos de experiencia</h3>
                <h3>Las postulaciones finalizan el <span>@vacanteMostrar.FechaDeFinalizacion.ToString("dd/MM/yyyy")</span></h3>
            </div>
            <!-- End post content -->

            <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                    <li class="tags-gestion">@vacanteMostrar.RubroNombre</li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                    <li style="text-transform:uppercase;" class="tags-gestion">@vacanteMostrar.DisponibilidadHoraria</li>
                    <li style="text-transform:uppercase;" class="tags-gestion">@vacanteMostrar.tipoModalidad</li>
                </ul>
            </div>
            <!-- End meta bottom -->
        </article>
        <!-- End blog post -->

        <h4 class="comments-count mt-5">Postulantes: </h4>
        @foreach (var persona in ViewBag.PersonasMostrar)
        {
            <div class="post-author d-flex align-items-center">
                <img src="data:@persona.TipoImagen;base64,@persona.Imagen"
                 class="rounded-circle flex-shrink-0"
                 alt="" />
                <div>
                    <div>
                        <a class="fuente-titulo" target="_blank" href="/Personas/PerfilUser/@persona.PersonaID" title="IR AL PERFIL">@persona.NombrePersona @persona.ApellidoPersona <i class="bi bi-arrow-right-circle"></i></a>
                    </div>
                    <div class="social-links">
                        @if (!string.IsNullOrEmpty(persona.Twitter))
                        {
                            <a target="_blank" href="@persona.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                        }

                        @if (!string.IsNullOrEmpty(persona.Instagram))
                        {
                            <a target="_blank" href="@persona.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                        }

                        @if (!string.IsNullOrEmpty(persona.Linkedin))
                        {
                            <a target="_blank" href="@persona.Linkedin" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        }
                        
                        <a target="_blank" href="/Vacantes/VerPDF/@persona.PersonaID" title="VER CURRICULUM">
                            <i class="bi bi-person-video2"></i>
                        </a>                        
                    </div>
                    <p>
                        @persona.ComentarioVacante
                    </p>
                </div>
            </div>                        
        }
    </div>
</section>

@section Scripts{
    <script src="~/js/Vacantes.js"></script>
}