@{
    ViewData["Title"] = "Gestion de vacante";
    var vacanteMostrar = ViewData["vacante"] as VacanteMostrar;
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section class="blog" id="blog">
        <div class="container position-relative d-flex flex-column align-items-center mt-1"><h2>Gestión de la Vacante</h2></div>
    <div class="container" data-aos="fade-up" data-aos-dalay="100">
        <article class="blog-details">

            <div class="post-img">
                <img src="data:@vacanteMostrar.TipoImagen;base64,@vacanteMostrar.ImagenVacante" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="text-transform:uppercase">@vacanteMostrar.Nombre</h2>

            <div class="meta-top">
                <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a style="cursor:pointer">@vacanteMostrar.EmpresaNombre</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a style="cursor:pointer"><time datetime="@vacanteMostrar.FechaCreacion">@vacanteMostrar.FechaCreacion</time></a></li>
                </ul>
            </div>
            <!-- End meta top -->

            <div class="content">

                <p>
                    @vacanteMostrar.Descripcion
                </p>
                <p>Para ésta vacante tendrás que saber hablar muy bien en @vacanteMostrar.Idiomas</p>

                <h3>Se requieren @vacanteMostrar.ExperienciaRequerida años de experiencia</h3>
                <h3>Las postulaciones finalizan el <span>@vacanteMostrar.FechaDeFinalizacion</span></h3>
            </div>
            <!-- End post content -->

            <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                    <li><a style="cursor:pointer">@vacanteMostrar.RubroNombre</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                    <li><a style="text-transform:uppercase; cursor:pointer">@vacanteMostrar.DisponibilidadHoraria</a></li>
                    <li><a style="text-transform:uppercase; cursor:pointer">@vacanteMostrar.tipoModalidad</a></li>
                </ul>
            </div>
            <!-- End meta bottom -->
        </article>
        <!-- End blog post -->

        <h4 class="comments-count mt-5">Postulantes: </h4>
        @foreach (var persona in ViewBag.PersonasMostrar)
        {
            <div class="post-author d-flex align-items-center">
                <img src="data:@persona.TipoImagen;base64,@persona.Imagen"
                 class="rounded-circle flex-shrink-0"
                 alt="" />
                <div>
                    <h4 class="text-center">@persona.NombrePersona @persona.ApellidoPersona</h4>
                    <div class="social-links">
                        <a target="_blank" href="@persona.Twitter">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a target="_blank" href="@persona.Linkedin">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="@persona.Instagram">
                            <i class="biu bi-instagram"></i>
                        </a>
                        <a target="_blank" href="/Vacantes/VerPDF/@persona.PersonaID">
                            <i class="biu bi-paperclip"></i>
                        </a>
                        <a target="_blank" href="/Personas/PerfilUser/@persona.PersonaID">
                            <i class="bi bi-person"></i> <!--Tiene que dirigir al perfil del postulante-->
                        </a>
                    </div>
                    <p>
                        @persona.ComentarioVacante
                    </p>
                </div>
            </div>

            <div class="modal fade" id="cv-@persona.PersonaID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo-modal-vacante">Crear Vacante</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick='VaciarFormulario()'></button>
                        </div>
                        <div class="modal-body">
                            <div class="contact">

                                <form class="php-email-form" id='nuevaVacante'>
                                    @*<div class="alert alert-danger "id='alertVacante'>El campo descripcion no puede estar vacio</div> *@
                                    <input type="hidden" id='idVacante' name='vacanteID' value=0 />
                                    <input placeholder="Ingrese un título" type="text" id="tituloVacante" name='tituloVacante' class="form-control mb-3" />
                                    <input placeholder="Ingrese una descripción" type="text" name="descripcionVacante" id="descripcionVacante" class="form-control mb-3" />
                                    <input placeholder="Experiencia requerida" type="number" id="expRequeridaVacante" name='experienciaRequerida' class='form-control mb-3' />
                                    <div>
                                        <label class="control-label"><b> Fecha de finalización: </b></label>
                                        <input type="date" class="form-control mb-3" name='fechaFinalizacion' id="fechaFinalizacionVacante">
                                    </div>
                                    <div>
                                        <label class="control-label"><b>Idioma requerido</b></label>
                                        <input placeholder='Ingrese que idioma es requerido' type='text' name='idiomaVacante' id="idiomaVacante" class='form-control mb-3' />
                                    </div>
                                    <div>                                      
                                        <select id='disponibilidadHoraria' name='disponibilidadHoraria' class="form-control mb-3">
                                            <option selected disabled>Disponibilidad Horaria:</option>
                                            <option value=0>Fulltime</option>
                                            <option value=1>Partime</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select id='modalidadVacante' name='modalidadVacante' class="form-control mb-3">
                                            <option selected disabled>Modalidad</option>
                                            <option value=0>Presencial</option>
                                            <option value=1>Semi-presencial</option>
                                            <option value=2>Remoto</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick='VaciarFormulario()' data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-login" onclick='GuardarVacante()'>Crear</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>




@section Scripts{
    <script src="~/js/Vacantes.js"></script>
}