@model WorkNetwork.Models.Vacante
@{
    var vacante = ViewData["vacante"] as VacanteMostrar;
}
<style>

span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  /* bottom: 0; */
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
  bottom: -250px;
}

/*My hum... body.. yeah..*/
/* body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
} */

/* The card */
.card2 {
  position: relative;
  height: 450px; 
  width: 1000px;
  margin: 72px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover;*/
/*object-position: center;*/
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.h11 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;

}

.p2 {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
  padding-bottom: 20px;
}

/* DATE of release*/
.h55 {
  position: absolute;
  left: 30px;
  bottom: 100px;
  font-size: 2rem;
  color: rgb(0 0 0 / 50%);
}

.h66 {
  position: absolute;
  left: 30px;
  bottom: 60px;
  font-size: 2rem;
  color: rgb(0 0 0 / 50%);
}

.btn-card2{
  
  position: fixed;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color: #000000;
  background-image: radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  cursor: pointer;
  top: 10px;
  left: 65px
}
.btn-card2:hover {
  background-position-y: -50px;
}

.btn-card2:active {
  transform: scale(0.99);
}

.asddd{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: -60px;
}

.h111{
  padding-top: 15px;
  font-size: 1.3rem;
  color: black;
  font-size: 40px;
  margin-bottom: 10px;
}

.hhh{
  
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 1.2rem;
    color: rgb(0 0 0 / 50%);
  
}

</style>

<div class="container">
<h1 class="mb-3 text-center">Gestion de vacantes</h1>
<div id="vacanteGestion">
        <div class="card2">
          <div class="thumbnail">
            <img class="left" src="data:@vacante.TipoImagen;base64,@vacante.ImagenVacante" alt="asd" />
          </div>
          <div class="right">
            <h1 class="h11">
              @vacante.Nombre
            </h1>
            <div class="separator"></div>
            <p class="p2">
              @vacante.Descripcion 
            </p>
          </div>
          <h6 class="h66">Postulaciones: <b></b></h6>
        </div>
</div>


<h3>Lista de postulantes:</h3>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Botones</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var persona in ViewBag.PersonasMostrar)
      {
      <tr>
          <td>@persona.NombrePersona @persona.ApellidoPersona</td>
          <td>@persona.Telefono1</td>
          <td class="text-center"><button class="btn btn-sm btn-dark" onclick="verPerfilPersona(@persona.PersonaID)" >Ver perfil</button> <button>Ver CV</button></td>
      </tr> 
      }
    </tbody>
</table>
</div>

@section Scripts{
<script src="~/js/Vacantes.js"></script>
}