@{
    ViewData["Title"] = "Vacantes";
    var vacanteMostrar = ViewData["vacante"] as VacanteMostrar;
}

<!-- ======= Primera parte de la pagina ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/carrusel-1.png');"></div>
<!-- Fin primera parte -->

<section class="blog" id="blog">
    <div class="container position-relative d-flex flex-column align-items-center mt-1 mb-4"><h2>Detalle de la Vacante</h2></div>
    <a asp-area="" asp-controller="home" asp-action="index"><i class="bi bi-arrow-left-circle" style="font-size:xx-large; padding: 10px;" title="VOLVER ATRÁS"></i></a>
    <div class="container" data-aos="fade-up" data-aos-dalay="100">
        <article class="blog-details">

            <div class="post-img">
                <img src="data:@vacanteMostrar.TipoImagen;base64,@vacanteMostrar.ImagenVacante" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="text-transform:uppercase">@vacanteMostrar.Nombre</h2>

            <div class="meta-top">
                <ul>
                    @* Tiene que dirigir al perfil de la empresa *@
                    <li class="d-flex align-items-center"><i class="bi bi-briefcase"></i> <a href="/Personas/VerEmpresa/@vacanteMostrar.EmpresaID" style="cursor:pointer">@vacanteMostrar.EmpresaNombre</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a class="text-black"><time datetime="@vacanteMostrar.FechaCreacion">@vacanteMostrar.FechaCreacion.ToString("dd/MM/yyyy")</time></a></li>
                </ul>
            </div>
            <!-- End meta top -->

            <div class="content">

                <p>
                    @vacanteMostrar.Descripcion
                </p>
                @if (!string.IsNullOrEmpty(vacanteMostrar.Idiomas))
                {
                    <p>Para esta vacante tendrás que saber hablar muy bien en @vacanteMostrar.Idiomas</p>
                }
                else
                {
                    <i>No se requiere un idioma en especifico</i>
                }

                @{
                    int experiencia;
                    if(int.TryParse(vacanteMostrar.ExperienciaRequerida, out experiencia))
                    {
                        if(experiencia == 1)
                        {
                            <h3>Se requiere al menos 1 año de experiencia</h3>
                        }
                        else
                        {
                            <h3>Se requieren al menos @experiencia años de experiencia</h3>
                        }
                    }                                                     
                   
                }                              
                
                <h3>Las postulaciones finalizan el <span>@vacanteMostrar.FechaDeFinalizacion.ToString("dd/MM/yyyy")</span></h3>

            </div>
            <!-- End post content -->

            <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                    <li><a class="text-black">@vacanteMostrar.RubroNombre</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                    <li><a style="text-transform:uppercase; color:black">@vacanteMostrar.DisponibilidadHoraria</a></li>
                    <li><a style="text-transform:uppercase; color:black">@vacanteMostrar.tipoModalidad</a></li>
                </ul>
            </div>
            <!-- End meta bottom -->

        </article>
        <!-- End blog post -->

        <div class="comments">
            <div class="reply-form">
                <h4>Postularme</h4>
                <p>
                    Ingresa una breve descripción de porqué te gustaría postularte a este puesto...
                </p>
                <div class="row">
                    <input type="hidden" id="vacanteID" value="@vacanteMostrar.VacanteID" />
                    <div class="alert alert-danger visually-hidden" id="alertPostVacante"></div>
                    <div class="col form-group">
                        <textarea name="comment" class="form-control" placeholder="Su descripción..." id="descripcionVacante"></textarea>
                    </div>
                </div>
                <button type="submit" onclick="pustularVacante()" class="btn btn-primary">Postularse </button>
            </div>
        </div>
        <!-- End blog comments -->


    </div>
</section>

<script src="~/js/Vacantes.js"></script>